#HomePage {
    .SocialLinks {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }

    .IntroText {
        padding: 1rem;
        height: 6rem;
        
        .Portrait {
            border: 3px solid white;
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            display: inline-block;
        }

        .Greetings {
            height: 4rem;
            margin-left: 1rem;
            display: inline-block;
            vertical-align: top;

            h2 {
                margin: 0.3rem 0;
            }
        }
    }
}



/*
.Page.transition-enter.transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.Page.transition-leave {
    position: absolute;
    top: 0; left: 0;
    opacity: 1;
}

.Page.transition-leave.transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

*/

#HomePage.transition-leave {
    overflow: hidden;
    .IntroText, .SocialLinks {
        transform: translate3d(0,0,0.0001px);
    }
}

#HomePage.transition-leave.transition-leave-active {
    .IntroText {
        transition: transform 0.5s;
        transform: translate3d(0,-130%,0.0001px);
    }

    .SocialLinks {
        transition: transform 0.4s 0.1s;
        transform: translate3d(0,130%,0.0001px);        
    }
}

#HomePage.transition-enter {
    overflow: hidden;
    .IntroText {
        transform: translate3d(0,-130%,0.0001px);
    }

    .SocialLinks {
        transform: translate3d(0,130%,0.0001px);
    }
}

#HomePage.transition-enter.transition-enter-active {
    .IntroText, .SocialLinks {
        transform: translate3d(0,0,0.0001px);
    }

    .IntroText {
        transition: transform 0.3s;
    }

    .SocialLinks {
        transition: transform 0.25s 0.05s;        
    }
}