.HoverLink {
    font-size: 18px;

    position: relative;
    display: inline-block;
    min-width: 1em;
    height: 1.8em;
    
    transform: translateZ(1px);

    &_Icon, &_Icon.Icon {
        width: 1.8em;
        height: 1.8em;

        background-size: 70%;

        border: 2px solid white;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #FFF;

        transform: translateZ(1px);
    }

    &_Label {
        @include elevation(1);
        position: relative;
        display: inline-block;
        overflow: hidden;
        border: 2px solid white;
        border-radius: 100em;
        padding-left: 0.5em;
        padding-right: 0;

        height: 1.8em;
        line-height: 1.7em;


        transform: translateZ(1px);

        max-width: 1.8em;
        transition: max-width 0.5s ease-out,
                    padding-right 0.5s ease-out;

    }

    .no-touch &:hover &_Label {
        padding-right: 2em;
        max-width: 7em;
    }
}