@media (min-width: $breakpoint-extra-wide) {
    .not-extra-wide,
    .not-desktop {
        display: none;
    }
}

@media (min-width: $breakpoint-wide) and (max-width: $breakpoint-extra-wide - 1px) {
    .not-wide,
    .not-desktop {
        display: none;
    }
}

@media (min-width: $breakpoint-narrow) and (max-width: $breakpoint-wide - 1px) {
    .not-narrow,
    .not-mobile {
        display: none;
    }
}

@media (max-width: $breakpoint-narrow - 1px) {
    .not-extra-narrow,
    .not-mobile {
        display: none;
    }
}

html {
    font-size: 8px;
}

@media (min-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 1900px) {
    html {
        font-size: 14px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    html {
        font-size: 7px;
    }
}
