.player {
    position: fixed;
    bottom: 9rem;
    height: 12rem;
    right: 2rem;
    width: auto;
    margin-right: auto;
    left: 2rem;
    display: block;

    iframe {
        box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.4);
        opacity: 0;
    }
}

@include break-regular {
    .player {
        max-width: 38rem;
    }
}

@include break-wide {
    .player {
        right: auto;
        bottom: 3rem;
        width: 38rem;
        margin: 0;
    }
}


@media (orientation: landscape) and (max-width: 768px) {
    .player {
        max-width: 38rem;
    }
}
