.wip {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.wip__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // border-radius: 3px;

    background-color: yellow;
    background-image: linear-gradient(to top right, transparent 10%, black 90%, transparent 100%);
    background-image: linear-gradient(45deg, transparent 10%, black 10%, black 31%, transparent 30%, transparent 60%, black 60%, black 81%, transparent 80%);
    background-size: 100px 100px;
    background-repeat: repeat;

    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.4);
    animation: wip__stripes-animation 2s linear infinite;

    transform: translateZ(0px);
}

.wip__content {
    width: 100%;
    position: relative;
    padding: 1rem;
    background: rgba(black, 0.2);
}

.wip__title {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;

    margin-bottom: 1rem;
    text-shadow:    0 1px 3px rgba(black, 0.6)
}

.wip__copy {
    font-size: 1.2rem;
    color: white;
    line-height: 1.2em;
    margin: 0;

    text-shadow:    0 1px 3px rgba(black, 0.6);
}

.button-wip-close {
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    display: block;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 3px rgba(black, 0.4);
    color:  black;
    text-align: center;
}

.button-wip-close__icon {
    position: absolute;
    display: inline-block;
    width: 45%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.wip__button-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

@keyframes wip__stripes-animation {
    0% {
        background-position: 0% 0;
    }

    100% {
        background-position: 100px 0;
    }
}


@include break-regular {

    .wip {
        right: 3rem;
        bottom: 3rem;
        left: auto;
    }

    .wip__content {
        width: auto;
        max-width: 32rem;
        padding: 1.5rem;
    }

    .wip__title {
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
    }

    .wip__background {
        border-radius: 3px;
    }

    .wip__copy {
        font-size: 1.8rem;
    }
}
