.Icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.Icon-code {
    background-image: url("../assets/icons/code-braces.svg")
}

.Icon-twitter {
    background-image: url("../assets/icons/twitter.svg")
}

.Icon-codepen {
    background-image: url("../assets/icons/codepen.svg")
}

.Icon-linkedin {
    background-image: url("../assets/icons/linkedin.svg")
}