.copy {
    @include font-secondary;

    width: 100%;
    font-size: 1.5rem;
    line-height: 1.3em;
    letter-spacing: 0.012em;
    text-shadow: 1px 1px 0 rgba(black, 0.2);


    p {
        @include text-rendering;

        margin: 0 0 0.9em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.copy .list > .list__item {
    @include text-rendering;

    font-size: 1.4rem;
    padding: 1rem 1rem 1rem 2rem;
    position: relative;
    background: rgba(#b2b2b2, 0.2);

    &:before {
        position: absolute;
        left: 0.35em;
        top: 0.8em;
        font-weight: bold;
        content: '✓';
        opacity: 0.8;
        color: #78909C;
    }


    &:nth-child(odd) {
        background: rgba(#2b2b2b, 0.2);
    }
}
